<div class="modal-header">            
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2>Clever Poster</h2>
  <div class="modal-header-line"></div>
  <p>Print Design</p>
</div>
<div class="modal-body">
  <div class="row">
		<div class="col-lg-6">
			<img src="img/portfolio/3.jpg" alt="Первая работа	">
		</div>
		<div class="col-lg-6">
			<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
		</div>
	</div>
</div>

